*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif, Times, serif;
}

body > input[type="radio"] {
  display: none;
}

h2{
  margin: 10px 0;
  padding: 5px;
  color: rgb(0, 128, 0);
}

ul{
  list-style: none
}

#pgBackground{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hidden{
  display: none;
  opacity: 0;
  transition: all 0.5s;
}

.unhidden{
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

._10pad{
  padding: 10px;
}

/* NAV HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.pgHeader{
  padding: 30px;
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.menu-wrapper{
  display: flex;
}

#brand-name{
  margin: 3px;
}

#brand-name a{
  color: green;
  text-decoration: none;
  transition: color 0.5s;
}
.brand .menu-item{
  margin-right: 55px;
}
#brand-name{
  position: absolute;
  top: 15px;
  right: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}
#brand-name > a{
  margin-top: 3px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-wrapper > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

#home-margin{
  margin-right: 50px;
}

.menu-item{
  height: 22px;
  margin-top: 3px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.menu-item a{
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.menu-item:hover{
  border-bottom: 1px solid black;
}

.menu-item a:hover{
  color: black;
}

.active-link{
  border-bottom: 1px solid black;
}

.active-link a{
  color: black !important;
}
  