  
  @media print, screen and (max-width: 520px){
    .pgHeader{
      padding: 30px 10px;
    }

    #home-margin{
      margin-right: 20px;
    }

    .menu-wrapper > div{
      margin-right: 10px;
    }

    .gradient{
      max-width: 85%;
      max-height: 70%;
    }

    #pgBackground{
      background-image: url(/build/images/bgpix.jpg);
      background-position:  center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 100vw;
      height: 90vh;
    }

    .prof-img{
      display: none;
    }
  }
  
  @media print{
    body{
        padding:0.4in;
        font-size:12pt;
        color:#444
    }
  }
  @media print, screen and (max-height: 680px){
    footer{
        text-align:center;
        margin:20px auto;
        position:relative;
        left:auto;
        bottom:auto;
        width:auto
    }
  }@media print, screen and (max-height: 480px){
    
    footer{
        text-align:center;
        margin:20px auto;
        position:relative;
        left:auto;
        bottom:auto;
        width:auto
    }
  }