  
  @media print, screen and (max-width: 1080px){
    .container{
      padding: 1rem 1rem;
      margin: 1rem 1rem;
    }
    .pix img{
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
    }
    .pix {
      padding: 2.5rem 0;
    }
    .portfolio{
      padding-left: 0.5rem;
    }
  }

  @media print, screen and (max-width: 830px){
    #pgBackground{
      padding: 1rem 0.5rem;
    }
    .pix img{
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
    }
    .pix{
      padding: 2.5rem 0;
    }
    .portfolio{
      padding-left: 0.5rem;
    }
  }
  
  @media print, screen and (max-width: 655px){

    .menu-wrapper{
      padding: 0.5rem 0.4rem;
    }
    #home-margin{
      margin-right: 20px;
    }
    .menu-wrapper > div{
      margin-right: 10px;
    }
    .profile-wrapper{
      overflow-y: scroll;
    }
    .container{
      padding: 1rem 0rem;
      margin: 1rem 0rem;
    }

    .img-background{
      background-image: url(/build/images/bgpix.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    #pgBackground{
      padding: 0;
      margin: 0;
    }
    .pix{
      display: none;
      padding: 0;
    }
    .portfolio{
      padding-left: 0rem;
    }
    .prof-img{
      display: none;
    }
    .halve__width{
      width: unset;
    }
    #pgBackground > .float__left{
      float: unset;
    }
    .container{
      height: 100vh;
      height: inherit;
      overflow: scroll;
      padding: 74px 5px;
      margin: 0 0;
    }
  }
  
  @media print, screen and (max-height: 420px){
    #pgBackground{
      height: 180vh;
      overflow: scroll;
    }
    .portfolio {
      height: inherit;
      overflow: scroll;
    }
  }

  @media print, screen and (max-height: 320px){
    #pgBackground{
      height: 280vh;
    }
  }
  
  @media print{
    body{
        padding:0.4in;
        font-size:12pt;
        color:#444
    }
  }
  @media print, screen and (max-height: 680px){
    footer{
        text-align:center;
        margin:20px auto;
        position:relative;
        left:auto;
        bottom:auto;
        width:auto
    }
  }@media print, screen and (max-height: 480px){
    
    footer{
        text-align:center;
        margin:20px auto;
        position:relative;
        left:auto;
        bottom:auto;
        width:auto
    }
  }
  