
#pgBackground{  
  padding: 2rem;
  margin: 3rem;
}

.pix img{
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}
.portfolio{
  
}
.portfolio-menu .menu-wrapper{
  padding: 1.5rem;
  padding-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info h2{
  padding-top: 0;
  margin: 0;
}

#item1, #item2, #item3{
  display: none;
}

.slider-wrapper, .info{
  overflow: hidden;
  padding: 1rem;
}

/* PORTFOLIO
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .logo-wrapper img{
    width: 100px;
  }
  .portfolio-item-wrapper{
    position: relative;
    width: 100%;
    height: 420px;
  }
  .portfolio-item-wrapper .background-img-ppt{
    height: 420px;
  }
  .background-img-ppt{
    width: 100%;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .portfolio-item {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio-item{
    width: 100%;
    height: 100%;
  }
  .portfolio-item .slider{
    justify-content: center;
    align-items: center;
  }
  .portfolio-item .img-text-wrapper, .portfolio-item .article-text{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-item .img-text-wrapper{
    padding-left: 100px;
    padding-right: 100px;
  }
  .article-text{
    padding: 10px;
  }

  .portfolio-item{
    display: none;
  }

  .slider-wrapper{
    position: relative;
  }
  
  
  
  /* PORTFOLIO
    –––––––––––––––––––––––––––––––––––––––––––––––––– 
  
  
  
  
  
  
  
  
  
  
  .portfolio-item-wrapper:hover .subtitle-text{
    font-weight: 600;
    color: seagreen;
  }
  
  .img-text-wrapper .subtitle-text{
    transition: 1s;
    font-weight: 600;
    color: transparent; 
  }
  
  .bg-darken{
    transition: 1s;
    filter: brightness(20%);
  }*/