/* media screen of smart phones */

.stats_icon img{
  height: 30px;
  width: 30px;
}

.ctrl_btn{
  display: none;
}

.dspI{
  display: inline;
}

article footer{
  margin: 0;
}

.nflx{
  flex: 1 1;
}

.dflx{
  flex: 1 2;
}

.hidden{
  max-height: 0px;
  max-width: 0px;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.unhidden{
  position: fixed;
  right: 0px;
  max-height: 1000px;
  max-width: 1000px;
  transition: max-height 1s ease-in-out;
}

@media print, screen and (max-width: 1060px){
  #logBtn:checked ~ section .logform{
    display: block;
  }

  .stackTxt{
    display: inline;
    font-size: 10px;
    letter-spacing: 0.4px;
    color: #fff;
  }

  .gradientContent > aside{
      max-width: 30vw;
      height: 100vh;
      overflow: hidden;
      transition: max-width 1s ease-in-out;
  }

  #srchForm{
      width: 70%;
  }
  #srch_inp{
      width: 65%;
      padding: 3px;
  }
  
  header h1,section h1,footer h1{
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -o-text-overflow:ellipsis;
      -ms-text-overflow:ellipsis
  }
  
  footer{
      text-align:center;
      margin:20px auto;
      position:relative;
      left:auto;
      bottom:auto;
      width:auto
  }
}

@media print, screen and (max-width: 910px){

  #pgHeader{
    padding: 0;
  }

  .ctrl_btn{
      display: inline;
      z-index: 1000;
  }

  nav .ctrl_btn{
    display: none;
  }

  .pgHed{
      display: block;
  }

  .gradientContent > aside{
      max-width: 0;
      padding: 0;
      height: 0;
      overflow: hidden;
      z-index: 1000;
      transition: max-width 1s ease-in-out;
  }

  #srchForm form{
      width: 100vw;
      margin: 20px 20px 0px 0px;
  }
  #srch_inp{
      width: 80%;
      padding: 3px;
  }

  body{
      word-wrap:break-word
  }
  
  header h1{
      font-size:32px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -o-text-overflow:ellipsis;
      -ms-text-overflow:ellipsis
  }
}

@media print, screen and (max-width: 720px){
  header{
    position:relative;
    padding:5px 0px;
    min-height:0px
  }

  nav .ctrl_btn:hover .menu{
    display: block;
    min-width: 100px;
    position: absolute;
    font-size: 0.9em;
    text-align: left;
    overflow-x: unset;
    background: rgb(0, 100, 0);
  }

  section #log_btn:hover #logForm{
    display: block;
    position: absolute;
    font-size: 0.5em;
    background: rgb(0, 100, 0);
  }

  #logForm form{
    background-color: rgb(20, 150, 10);
    right: 10px;
    transition: max-height 1s ease-in-out;
    max-width: 150px;
  }

  #qst{
    margin-top:30px;
  }

  #logSectn {
    position: absolute;
    left: 85%;
    top: 58%
  }

  #pgHeader{
    display: flex;
    align-items: center;
  }

  .menu, #logForm{
    display: none;
  }

  nav .ctrl_btn{
    display: inline;
  }

  #pgHeader .flx{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media print, screen and (max-width: 480px){
  header{
    position:relative;
    padding:5px 0px;
    min-height:0px
  }

  #logForm form{
    background-color: rgb(20, 150, 10);
    right: 10px;
    transition: max-height 1s ease-in-out;
    max-width: 150px;
  }

  #logSectn {
    position: absolute;
    left: 85%;
    top: 58%
  }

  #pgHeader{
    display: inline-block;
    align-items: baseline;
  }

  nav .ctrl_btn{
    display: inline;
  }

  #pgHeader .flx{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 5px 3px;
  }

  header ul{
      display:none
  }
}
@media print{
  body{
      padding:0.4in;
      font-size:12pt;
      color:#444
  }
}
@media print, screen and (max-height: 680px){
  footer{
      text-align:center;
      margin:20px auto;
      position:relative;
      left:auto;
      bottom:auto;
      width:auto
  }
}@media print, screen and (max-height: 480px){
  
  footer{
      text-align:center;
      margin:20px auto;
      position:relative;
      left:auto;
      bottom:auto;
      width:auto
  }
}