article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{
  display:block
}
html{
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%
}
audio,canvas,video{
  display:inline-block;
}
body{
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666;
  font-weight:300;
  margin:0px;
  padding:0px 0 20px 0px;
  background:url(/static/media/bdbackgrd.jpg) #eae6d1
}

.rel{
  position: relative;
}

#logo {
  font-family:Georgia;
  font-weight:bold;
  font-size  :50px;
  text-align: center;
  text-transform: uppercase;
}

img{
  border:0;
  -ms-interpolation-mode:bicubic
}
svg:not(:root){
  overflow:hidden
}
figure{
  margin:0
}
html,button,input,select,textarea{
  font-family:sans-serif
}
body{
  margin:0
}

#log_Btn label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon_wrap{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

main{
  box-sizing: border-box;
  border:1px solid #e5e5e5;
  border-width:1px 0;
  padding:10px auto;
  margin:0px;
  max-width:600px
}

.rAside{
  box-sizing: border-box;
  border:1px solid #cbcbcb;
  margin-top:18px;
  margin-right: 10px;
  position: absolute;
  z-index: 1000;
  background:linear-gradient(solid #cbcbcb #fbfbfb);
}

a:focus{
  outline:thin dotted
}

a:hover,a:active{
  outline:0
}

/* page head styles */
#pgHeader{
  padding:10px 20px 5px 20px;
  margin:0;
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  transition: .3s .3s;
  text-align:center;
  background:url(/static/media/hdbckgrd.jpg) #4276b6;
  box-shadow:1px 0px 2px rgba(0,0,0,0.75);
  z-index:99;
  -webkit-font-smoothing:antialiased;
  min-height:50px
}

.stackTxt{
  display: none;
}

.sub-menu{
  display: none;
}

.menu .menu-item{
  margin-right: 3%;
}

.menu-item{
  max-width: 100px;
  font-size: 1.5em;
  line-height: 30px;
}

.menu{
  min-width: 260px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.menu .menu-item:hover .sub-menu{
  display: block;
  position: absolute;
  min-width: 200px;
  top: 3px;
  margin-left: 95px;
  font-size: 0.5em;
  background: rgb(0, 100, 0);
}

.menu-item a{
  color: #fff;
}

/* newly approved rules*/
.article nav{
  width: 30%;
  height: 95%;
}

.article{ 
  box-sizing: border-box;
  margin-top: 10px;
  padding:10px; 
  position:relative;
  background:#fbfbfb;
  border-radius:3px;
  border:1px solid #cbcbcb;
  box-shadow:0px 1px 2px rgba(0,0,0,0.09),inset 0px 0px 2px 2px rgba(255,255,255,0.5),inset 0 0 5px 5px rgba(255,255,255,0.4)
}

#reg_container{
  min-width: 200px;
  max-width: 260px;
  margin: 10px;
  padding: 10px;
}

#qst{
  max-width: 600px;
  margin-top:60px;
}

.article article{
  width: 68%;
  height: 80%;
}

.limelitImg{
  width: 98%;
  height: 100%;
}

img, video{
  width: inherit;
  height: inherit;
}

.dflc{
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

.article_text{
  max-height: 200px;
  overflow: hidden;
}

._5MT{
  margin: 5px;
}

.article_text p{
  margin: 2px;
}

.media{
  width: 100%;
  height: 70%;
}

._15pMR{
margin-right: 15px;
}

#pgfoot{
  position: relative;
  bottom: 2px;
  bottom: 5px;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.fxd{
  position: fixed;
}

/* flex properties */

.socials{
  display: flex;
  justify-content: space-between;
}

.flx{
  display: flex;
  align-items: center;
}

.flxrap{
  flex-flow: wrap;
}

/* NOTE: rules for fonts */
.fcg {
  color: #90949c;
}

.fcb {
  color: #333;
}

.fwn {
  font-weight: normal;
}

.fsm {
  font-size: 12px;
}

.mlft{
  margin-left: 20px;
}

.fwb {
  font-weight: 600;
}

.fsl {
  font-size: 20px;
}

.fsb{
  font-size: 14px;
}

.fsm {
  font-size: 12px;
}

.mvm{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mrl{
  margin: 0 5px;
}

._10pctML{
  margin-left: 10%;
}

._10pctMR{
  margin-right: 10%;
}

._3pctML{
  margin-left: 3%;
}

._5pctML{
  margin-left: 5%;
}

figure {
  border: 0px solid #000;
  padding: 0px;
  margin: 0px;
}  

#logBtn, #rminimax, #lminimax{
  display: none;
}

#logo {
  font-family:Georgia;
  font-weight:bold;
  font-size  :50px;
  text-align: center;
  text-transform: uppercase;
}

#logo a{
  text-decoration: none;
  color: #fff;
}

.moto {
  color: #0e385f;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  word-spacing: -1px;
}

.absPR{
  position: absolute;
  top: 2px;
  right: 5px;
}

.column{
  float: left;
}

._20MT{
  margin-top: 20px;
}