img{
  border:0;-ms-interpolation-mode:bicubic
}
svg:not(:root){
  overflow:hidden
}
figure, form{
  margin:0
}
fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em
}
legend{
  border:0;
  padding:0;
  white-space:normal;
  *margin-left:-7px
}
button,input,select,textarea{
  font-size:100%;
  margin:0;
  vertical-align:baseline;
  *vertical-align:middle
}
button,input{
  line-height:normal
}
button,input[type="button"],input[type="reset"],input[type="submit"]{
  cursor:pointer;
  -webkit-appearance:button;
  *overflow:visible
}
button[disabled],input[disabled]{
  cursor:default
}
input[type="checkbox"],input[type="radio"]{
  box-sizing:border-box;
  padding:0;
  *height:13px;
  *width:13px
}
input[type="search"]{
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance:none
}button::-moz-focus-inner,input::-moz-focus-inner{
  border:0;
  padding:0
}
textarea{
  overflow:auto;
  vertical-align:top
}

/* NOTE: form button styles */

.btnBox{
  border: 1px solid;
  border-radius: 5px;
  margin: 5%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.btnFonSiz{
  font-size: 19px;
}

.btnBox:hover{
  text-decoration: none;
}

.btnFonFam{
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: normal;
}

.boFonWgt{
  font-weight: bold;
}

.btnText{
cursor: pointer;
font-size: 19px;
line-height: 126%;
}

.btnSize{
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
}

.btnGrad{
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
}

.uiBtnColor{
background-color: green;
border-color: darkgreen;
}

.uiBtn, .uiBtnSuppressed:active, .uiBtnSuppressed:focus, .uiBtnSuppressed:focus{
background-color: #f5f6f7;
}

.uiBtn{
border-radius: 3px;
cursor: pointer;
display: inline-block;
font-size: 12px;
-webkit-font-smoothing: antialiased;
font-weight: bold;
line-height: 18px;
padding: 2px 6px;
cursor: pointer;
text-align: center;
text-decoration: none;
text-shadow: none;
vertical-align: top;
white-space: nowrap;
}

.uiBtnText, .uiBtn input{
  background: none;
  border: 0;
  color: #4b4f56;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#srch_inp{
  width: 85%
}

/* NOTE: input styles */
.valid{
  color: #2ecc71;
}

.invalid{
  color: #ff0000;
}

input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.inp_rap{
  text-align: left;
  color: #fff;
  width: 85%;
  padding: 0 10px;
}

#logBtn, #rminimax, #lminimax{
  display: none;
}

/* form input styles */

input:not([type="submit"]):invalid{
  border-color: #ff0000;
}
  
input:not([type="submit"]):valid{
  border-color: #2ecc71;
}
  
input:not([type="submit"]) + .input_req{
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;
  display: inline-block;
}
  
input:not([type="submit"]):hover + .input_req,
input:not([type="submit"]):focus + .input_req,
input:not([type="submit"]):active + .input_req{
  max-height: 1000px;
  color: #2c5115;
  transition: max-height 1s ease-in;
}
  
input:not([type="submit"]){
  text-align: center;
}

button{
    color: white;
    background-color: inherit;
}
  
input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 16px;
}
  
  
  /* NOTE: reg form styles */

aside .hidden{
  display: block;
  min-width: 200px;
  max-height: 1000px;
  max-width: 280px;
  transition: max-width 1s ease-in-out;
}

#logForm{
  position: absolute;
  right: 0;
  background-color: #4276b6;
  transition: max-height 1s ease-in-out;
  min-width: 180px;
}

#log_btn .icon_wrap:hover #pgHeader label .ico_txt{
  display: none;
  transition: display 1s ease-in-out
}

#regForm{
    height: 100%;
    background-color: rgb(119, 124, 153);
}

#srchForm{
  display: flex;
  border: solid thin beige;
  border-radius: 5px;
  border-top: hidden;
  border-left: hidden;
}

#srchForm input[type="submit"]{
    color: blue;
}

#srchForm input[type="text"]{
    border-style: hidden;
}

.inp_rap .info{
  margin: 0;
}

.input_req{
    background-color: seashell;
}


